@model InmobiliariaLucero.Models.Login

@{ ViewData["Title"] = "Acceso de usuarios";

}

<style>
    .login-block {
        float: left;
        width: 100%;
        padding: 50px 0px 50px;
    }

    .containerLogin {
        background: #fff;
        border-radius: 10px;
        box-shadow: 15px 20px 0px rgba(0,0,0,0.1);
    }

    .login-sec {
        padding: 50px 30px;
        position: relative;
    }

        .login-sec h2 {
            margin-bottom: 30px;
            font-weight: 800;
            font-size: 30px;
            color: rgb(63, 63, 63);
        }

            .login-sec h2:after {
                content: " ";
                width: 100px;
                height: 5px;
                background: #FEB58A;
                display: block;
                margin-top: 20px;
                border-radius: 3px;
                margin-left: auto;
                margin-right: auto
            }

    .btn-login {
        background: #D35400;
        color: #fff;
        font-weight: 600;
    }
</style>

<h1>Ingrese datos</h1>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-check">
                <button type="submit" class="btn btn-login float-right">Ingresar</button>
            </div>
        </form>
    </div>
</div>


